html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* ========== NAVBAR ========== */
div.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
  position: fixed;
}

div.navbar nav {
  padding: 0 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.navbar nav div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.navbar nav div.container div.navbar-brand {
  padding: 12px;
}

div.navbar nav div.container div.navbar-brand a {
  color: #222;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
  font-size: x-large;
}

div.navbar nav div.container ul.navbar-items {
  list-style: none;
  flex-grow: 1;
  display: flex;
}

div.navbar nav div.container ul.navbar-items li a, div.navbar-end a {
  padding: 12px;
  font-weight: 500;
  color: #969699;
}

div.navbar nav div.container ul.navbar-items li a:hover, div.navbar-end a:hover {
  color:  #222;
}

div.navbar nav div.container div.navbar-end a {
  font-size: 1.5rem;
}
/* ========== NAVBAR ========== */



/* ========== PAGE NAVBAR ========== */
div.page-navbar {
  margin-top: 60px;
  width: 100%;
  border-bottom: 2px solid #f0f0f0;
}

div.page-navbar div.container {
  padding: 12px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.page-navbar div.container ul.page-navbar-list {
  list-style: none;
  display: flex;
}

div.page-navbar div.container ul.page-navbar-list li a:hover {
  text-decoration: underline;
}

div.page-navbar div.container ul.page-navbar-list li:not(:first-child)::before {
  content: "/";
  margin: auto 8px;
}

div.page-navbar div.container div#author img {
  vertical-align: middle;
  border-radius: 50%;
  width: 40px;
}
/* ========== PAGE NAVBAR ========== */



/* ========== MAIN CONTENT ========== */
div#main-content {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

div#main-content div.container {
  padding: 10px;
  width: 70%;
}

div#main-content div.container h1.main-content-title {
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 8px;
}

div#main-content div.container img.hero-banner {
  width: 100%;
  height: auto;
  margin: 1.5em 0;
}

div#main-content div.container div {
  margin-bottom: 12px;
}

div#main-content div.container div p {
  text-align: justify;
}

div#main-content div.container div p:not(:last-child) {
  margin-bottom: 12px;
}

div#main-content div.container div blockquote {
  width: 100%;
  display: flex;
  justify-content: center;
}

div#main-content div.container div blockquote dl {
  width: fit-content;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 12px;
  margin: 8px;
  font-weight: bolder;
  font-style: italic;
}

div#main-content div.container div blockquote dl dt {
  text-decoration: underline;
}

div#main-content div.container div ul {
  list-style: none;
  margin-left: 18px;
  padding-left: 8px;
  border-left: 1.3px solid #a3a3a3;
}

div#main-content div.container div ul > li:not(:last-child) {
  margin-bottom: 12px;
}

div#main-content div.container div ul li ol {
  margin-left: 24px;
}

div#main-content div.container div table {
  margin-top: 4px;
}

div#main-content div.container div table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
}

div#main-content div.container div table tr th, td {
  padding: 8px;
}

div#main-content div.container div table tr td:nth-child(2) {
  text-align: center;
}

/* ========== BACK TO TOP ========== */
div#to-top {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

div#to-top a {
  padding: 10px;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  color: #121212;
  transition: 0.2s all;
}

div#to-top a:hover {
  background-color: #121212;
  color: #e6e6e6;
}
/* ========== BACK TO TOP ========== */

/* ========== MAIN CONTENT ========== */



/* ========== FOOTER ========== */
footer {
  width: 100%;
  background-color: #121212;
  color: white;
  font-weight: 400;
  text-align: center;
}

footer div.container {
  padding: 1.8rem;
}

footer div.container div.navigations {
  margin-bottom: 1rem;
}

footer div.container div.navigations a {
  color: #a3a3a3;
  margin: 4px;
}

footer div.container div.navigations a:hover {
  color: #f1f1f1;
}
/* ========== FOOTER ========== */