* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* ========== NAV ========== */
nav {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
}

nav div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

nav div.container ul.nav-page {
  list-style: none;
  display: flex;
}

nav div.container ul.nav-page li {
  margin-right: 8px;
}

nav div.container ul.nav-page li:not(:first-child)::before {
  content: "/";
  margin-right: 8px;
}

nav div.container ul.nav-page li a:hover {
  text-decoration: underline;
}

nav div.container div.author img {
  vertical-align: middle;
  border-radius: 50%;
  width: 40px;
}
/* ========== NAV ========== */



/* ========== SECTION ========== */
section {
  width: 992px;
  padding: 80px;
}

section div.main-title {
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
}

section div.hero-banner img {
  width: 100%;
  margin-bottom: 1.5em;
}

section div.sub {
  margin-bottom: 1.5em;

  display: flex;
  flex-direction: column;
}

section div.sub div.sub-explanation p {
  text-align: justify;
  font-size: large;
}

section div.sub div.sub-explanation p:not(:first-child) {
  margin-top: 1rem;
}
/* ========== SECTION ========== */



blockquote {
  width: 100%;
  display: flex;
  justify-content: center;
}

blockquote dl {
  width: fit-content;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 12px;
  margin: 8px;

  font-weight: bolder;
  font-style: italic;
}

blockquote dl dt {
  text-decoration: underline;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
}

table tr th, td {
  padding: 8px;
}

table tr td:nth-child(2) {
  text-align: center;
}



/* ========== FOOTER ========== */
footer {
  width: 100%;
  background-color: #121212;
  color: white;
  font-weight: 400;
  text-align: center;
}

footer div.container {
  padding: 1.8rem;
}

footer div.container div.top, div.middle {
  margin-bottom: 1rem;
}

footer div.container div.top a, div.middle a {
  color: #a3a3a3;
  margin: 4px;
}

footer div.container div.top a:hover, div.middle a:hover {
  color: #f1f1f1;
}
/* ========== FOOTER ========== */