:root {
  --xxl-breakpoint: 1400px;
  --xl-breakpoint: 1200px;
  --lg-breakpoint: 992px;
  --md-breakpoint: 768px;
  --sm-breakpoint: 576px;
  --x-sm-breakpoint: 576px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #181818;
  text-decoration: none;
}

section {
  padding-top: 4rem;
}

section, footer {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: var(--xl-breakpoint);
}

div.container-header {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* ========== NAVBAR ========== */
nav {
  height: 60px;
  width: 100vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
  position: fixed;
  display: flex;
  align-items: center;
}

nav div.nav-brand {
  margin-left: 2rem;
  letter-spacing: 2px;
  font-size: x-large;
  color: white;
}

nav div.nav-brand a {
  color: rgb(24, 24, 24);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul.nav-items {
  margin-left: 1rem;
  list-style-type: none;
  display: inline-flex;
  flex-grow: 1;
}

nav a {
  color: #a3a3a3;
  display: block;
  padding: 12px;
}

nav a:hover {
  color: #181818;
}

nav div.nav-end {
  margin-right: 3rem;
}

nav div.nav-end a {
  font-size: x-large;
}
/* ========== NAVBAR ========== */



/* ========== HERO BANNER ========== */
header {
  height: 100vh;

  background-image: url('../img/hero-banner/hero-banner-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

header div.container {
  width: 60%;
}

header div.container div.title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 6rem;
  padding: 0 20px 2px 20px;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

header div.container div.description {
  color: #a3a3a3;
}
/* ========== HERO BANNER ========== */



/* ========== QUOTE ========== */
section#quote div.container {
  text-align: center;
}

section#quote div.container div.container-main blockquote {
  font: 2.5rem Cambria;
}

section#quote div.container div.container-main div.quote-footer {
  font-family: Cambria;
  color: #a3a3a3;
  margin-top: 2rem;
}
/* ========== QUOTE ========== */



/* ========== MATERI ========== */
section#materi div.container-main {
  display: grid;
  grid-template-columns: 32.34% 32.34% 32.34%;
  gap: 18px;
} 

section#materi div.container-main div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

section#materi div.container-main div.card:hover {
  color: rgb(91, 91, 173);
}

section#materi div.container-main div.card img.card-img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

section#materi div.container-main div.card div.card-body {
  padding: 18px;
  height: 6.4pc;
}

section#materi div.container-main div.card div.card-body p.card-desc {
  color: #a3a3a3;
}

section#materi div.container-main div.card div.card-footer {
  padding: 3px 18px;
  color: #a3a3a3;
  background-color: #f1f1f1;
  border-top: 1px solid #d4d4d4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* ========== MATERI ========== */



/* ========== DEVELOPERS ========== */
section#developers div.container-main {
  display: flex;
  flex-wrap: wrap;
  height: 40rem;
  align-content: space-between;
  justify-content: space-around;
}

section#developers div.container-main div.card {
  display: flex;
  justify-content: space-between;
  width: 34rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

section#developers div.container-main div.card img.card-img {
  width: 180px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

section#developers div.container-main div.card div.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

section#developers div.container-main div.card div.card-body div.card-title {
  font-size: 2.5em;
}

section#developers div.container-main div.card div.card-body p.card-description {
  color: #a3a3a3;
}

section#developers div.container-main div.card div.card-body blockquote.card-quote {
  margin: 1rem 0;
  font-family: Cambria;
  text-align: left;
}

section#developers div.container-main div.card ul.card-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1em;
  padding: 8px;
  background-color: #f1f1f1;
  border-left: 1px solid #d4d4d4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

section#developers div.container-main div.card ul.card-links li a {
  color: #a3a3a3;
}

section#developers div.container-main div.card ul.card-links li a:hover {
  color: #181818;
}
/* ========== DEVELOPERS ========== */



/* ========== FOOTER ========== */
footer {
  width: 100%;
  background-color: #121212;
  color: white;
  font-weight: 400;
  text-align: center;
}

footer div.container {
  padding: 1.8rem;
}

footer div.container div.top {
  margin-bottom: 1rem;
}

footer div.container div.top a {
  color: #a3a3a3;
  margin: 4px;
}

footer div.container div.top a:hover {
  color: #f1f1f1;
}
/* ========== FOOTER ========== */